<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">

    <div style="display: flex; gap: 8px; align-items: center;">
        <input matInput type="text" [(ngModel)]="search.firstName" placeholder="Search by First Name"
            class="search-control">
        <input matInput type="text" [(ngModel)]="search.lastName" placeholder="Search by Last Name"
            class="search-control">
        <button mat-stroked-button color="accent" (click)="searchClients()" class="search-button">Search</button>
    </div>

    <div class="create-button">
        <button mat-stroked-button color="primary" (click)="refresh()" class="refresh">
            Refresh
        </button>

        <button mat-raised-button color="primary" (click)="openCreateClientDialog()">
            Create New Client
        </button>
    </div>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    }
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
            <button mat-icon-button color="warn" aria-label="delete client"
                (click)="deleteClient(element); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Add treatment"
                (click)="openAddTreatmentDialog(element)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                @if (expandedElement === element) {
                <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
                }
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <table mat-table [dataSource]="element.treatments" class="mat-elevation-z8">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let treatment"> {{ treatment.date | date }} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let treatment"> {{ treatment.description }} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let treatment"> {{ treatment.price | currency }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="treatmentColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: treatmentColumns;"></tr>
                </table>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- Treatments in a UL
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <ul>
                    <li *ngFor="let treatment of element.treatments">
                        <strong>Date:</strong> {{ treatment.date | date }}<br>
                        <strong>Description:</strong> {{ treatment.description }}<br>
                        <strong>Price:</strong> {{ treatment.price | currency }}
                    </li>
                </ul>
            </div>
        </td>
    </ng-container> -->