 table {
   width: 100%;
 }

 tr.example-detail-row {
   height: 0;
 }

 tr.example-element-row:not(.example-expanded-row):hover {
   background: whitesmoke;
 }

 tr.example-element-row:not(.example-expanded-row):active {
   background: #efefef;
 }

 .example-element-row td {
   border-bottom-width: 0;
 }

 .example-element-detail {
   overflow: hidden;
   display: flex;
 }

 .search-control {
   height: 30px !important;
   flex: 1;
 }

 .search-button {
   height: 36px;
   min-width: 100px;
 }

 .create-button {
   align-self: flex-end;
 }

 .actions-cell {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 8px;
 }

 .search-bar,
 .actions {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   justify-content: space-between;
   margin-bottom: 16px;
 }

 .search-bar input,
 .actions button {
   flex: 1 1 auto;
 }

 .actions {
   margin-left: 10px;
 }


 /* Mobile View */
 .responsive-table {
   width: 100%;
   overflow-x: auto;
 }

 @media screen and (max-width: 768px) {

   .search-bar,
   .actions {
     flex-direction: column;
     align-items: stretch;
   }

   .responsive-table th,
   .responsive-table td {
     font-size: 12px;
     padding: 4px;
   }

   .actions-cell button {
     padding: 4px;
   }
 }

 /* @media screen and (max-width: 375px) {
   .search-bar input {
     font-size: 12px;
   }
   .actions button {
     font-size: 12px;
   }
 } */

 .client-card {
   border: 1px solid #ccc;
   border-radius: 8px;
   margin-bottom: 16px;
   padding: 16px;
   background-color: #f9f9f9;
 }

 .client-header {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 8px;
 }

 .client-header p {
   margin: 4px 0;
   flex: 1 1 auto;
 }

 .mobile-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 8px;
 }

 .mobile-table th,
 .mobile-table td {
   padding: 8px;
   text-align: left;
   border: 1px solid #ddd;
 }

 .mobile-table th {
   background-color: #f2f2f2;
 }

 .mobile-table td {
   font-size: 14px;
 }

 @media screen and (max-width: 768px) {
   .client-header p {
     font-size: 14px;
   }

   .mobile-table th,
   .mobile-table td {
     font-size: 12px;
     padding: 6px;
   }
 }

 .search-bar {
   display: flex;
   align-items: center;
 }

 .search-control {
   width: 200px;
   margin-right: 10px;
 }

 .search-button {
   margin-left: 10px;
 }

 .mat-snack-bar-container {
   min-width: auto !important;
 }