<div class="app-container">
  <!-- <div>
    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    <div *ngIf="isLoggedIn">
      Welcome, {{ username }}!
    </div>
  </div> -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select Language</mat-label>
      <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)">
        <mat-option value="en">English</mat-option>
        <mat-option value="he">עברית</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h1>{{ 'TITLE' | translate }}</h1>
  <app-client-list></app-client-list>
</div>

<!-- <router-outlet></router-outlet> -->