<h1 mat-dialog-title>{{'ADD_NEW_CLIENT' | translate}}</h1>
<div mat-dialog-content>
  <form #clientForm="ngForm">
    <mat-form-field>
      <mat-label>{{'FIRST_NAME' | translate}}</mat-label>
      <input matInput [(ngModel)]="client.firstName" name="firstName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'LAST_NAME' | translate}}</mat-label>
      <input matInput [(ngModel)]="client.lastName" name="lastName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'PHONE' | translate}}</mat-label>
      <input matInput [(ngModel)]="client.phone" name="phone" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'EMAIL' | translate}}</mat-label>
      <input matInput [(ngModel)]="client.email" name="email" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{'CANCEL' | translate}}</button>
  <button mat-button [disabled]="!clientForm.form.valid" (click)="onSave()">{{'SAVE' | translate}}</button>
</div>
