<h1 mat-dialog-title>Create Client</h1>
<div mat-dialog-content>
  <form #clientForm="ngForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="client.firstName" name="firstName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="client.lastName" name="lastName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="client.phone" name="phone" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!clientForm.form.valid" (click)="onSave()">Save</button>
</div>