.mat-form-field {
    width: 100%;
}

table {
    width: 100%;
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
    margin-right: 4%;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

.color-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Adds some space between rows */
}

.color-input-group mat-form-field {
    margin-right: 10px;
    /* Gap between inputs */
}

.color-input-group button {
    margin-left: 10px;
    /* Adds a gap between the inputs and the button */
}